body{

    background-color: #b8e994;
}

#header{
    padding: 5px;
}

#header h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#btn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}
.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

#address{
    width: 27%;
}

#img{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 27%;
}

#role{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 27%;
}

#role select{
    border-radius: 5px;
    padding: 10px;
}

#profile{
    background-color: white;
    width: 30%;
    padding: 20px;
    float: left;
}

#profile img{
    height: 100px;
    width: 100px;
}

#group{
    background-color: white;
    width: 60%;
    padding: 20px;
    float: right;
}

#group img{
    height: 100px;
    width: 100px;
}

#votebtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}

#mainpanel{
    padding: 10px;
}

#voted{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: green;
    color: white;
}